*.bat
*.filters
*.cmd
*.sdf
*.bin
*.aps
*.vcxproj.*
*.log
*.exe
*.dll
*.pdb
*.ilk
*.sys
*.lib
*.exp
*/Win10Debug/*
*/Debug/*
*/Release/*
*/Win*Debug/*
*/Win*Release/*
*/x64/*
Debug/*
Win*Debug/*
*.opensdf
*.vs/
*.py
*.yar
*.swp
.DS_Store
Thumbs.db
*.sdv
*.xml
*.opendb
Release/
Win10Release/
Win7Release/
Win8.1Release/
Win8Release/
deps/libgit2/x86/git2.dll
deps/libgit2/x86/git2.lib
deps/libgit2/x64/git2.dll
deps/libgit2/x64/git2.lib
